<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ScanAccountDrRange" value="A2:A23"/>
    <add key="ScanAccountCrRange" value="C2:C15"/>
    <add key="DrVoucherAccountList" value="應收帳款,代付款,CAS"/>
    <add key="CrVoucherAccountList" value="營業收入,暫收款,應付帳款,應付票據"/>

    <add key="isDebug" value="false"/>
    <add key="debugBalanceSheetWSName" value="9月"/>
    <add key="debugIncomeStatementWSName" value="9月"/>
  
  </appSettings>
</configuration>